body,div,span,h1{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: black;

}
html {
    line-height: 1.2;
  }
  
  body,h3,h4, ul, li {
    padding: 0;
    margin: 0;
  }
  
  ul, li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  img {
    vertical-align: top;
  }

  .view_title{
    color: rgb(104, 92, 92);
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  